 body {
	 margin: 0;
	 font-family: 'Lato', sans-serif;
	 font-size:20px;
	 }
    .header 
	{
		display: block;
    }
   .header-bg 
	{
		background: url(images/header-title1.jpg) repeat-x center bottom; 
		height: 405px; 
		text-align: center; 
   }
   
   	
.nav ul {
	margin: 0;
	padding: 0;
}
.nav li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	
}
.nav a {
	padding: 3px 12px;
	text-decoration: none;
	 color: #999;
	line-height: 100%;
}
.nav a:hover {
	color: #000;
	background-color: #ddd;
}

.nav.center ul {
	text-align: center;
}
@media screen and (max-width: 600px) {
	.nav {
		position: relative;
		min-height: 40px;
	}	
	.nav ul {
		width: 180px;
		padding: 5px 0;
		position: absolute;
		top: 0;
		left: 0;
		
	}
	.nav li {
		display: none; 
		margin: 0;
	}
	.nav .current {
		display: block; 
	}
	.nav a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	.nav .current a {
		background-color: #ddd;
		color: #fff;
	}
 
	.nav ul:hover {
		background-color: #ddd;
	}
	.nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	
	.nav.center ul {
		left: 50%;
		margin-left: -90px;
	}
 
}


	.pagewrap {
		padding: 5px;
		width: 960px;
		margin: 20px auto;
	}

	.content {
		width: 290px;
		float: left;
		padding: 5px 15px;
	}

	.middle {
		width: 294px; 
		float: left;
		padding: 5px 15px;
		margin: 0px 5px 5px 5px;
	}

	.sidebar {
		width: 270px;
		padding: 5px 15px;
		float: left;
	}
	
	.contactf {
		width: 390px;
		float: left;
		padding: 5px 15px;
	}
	 #map {
        width: 400px;
        height: 300px;
		padding: 5px 15px;
		
     }
	 footer {
		font-size:10px;
		
		text-align: center;
	}

	
	/* for 980px or less */
	@media screen and (max-width: 980px) {
		
		.pagewrap {
			width: 94%;
		}
		.content {
			width: 41%;
			padding: 1% 4%;
		}
		.middle {
			width: 41%;
			padding: 1% 4%;
			margin: 0px 0px 5px 5px;
			float: right;
		}
		
		.sidebar {
			clear: both;
			padding: 1% 4%;
			width: auto;
			float: none;
		}

	}

	/* for 700px or less */
	@media screen and (max-width: 600px) {

		.content {
			width: auto;
			float: none;
		}
		
		.middle {
			width: auto;
			float: none;
			margin-left: 0px;
		}
		
		.sidebar {
			width: auto;
			float: none;
		}

	}

	/* for 480px or less */
	@media screen and (max-width: 480px) {

		header {
			height: auto;
		}
		h1 {
			font-size: 2em;
		}
		/* .sidebar {
			display: none;
		} */

	}


	header, .content, .middle, .sidebar {
		margin-bottom: 5px;
	}
